<div class="central_content">
<p id="notice"><%= notice %></p>
<h1>Courses</h1>
</br>

<% @courses.each do |course| %>
    
    <hr color="gainsboro" size=1>
    <div class="title"><%= link_to course.name, course%></div>
    <%= course.description %>
    
<% end %>
    <hr color="gainsboro" size=1>
    <div class="line">
<%= link_to 'New Course', new_course_path %>
</div>
</div>
